[submodule "ice-front"]
	path = ice-front
	url = https://github.com/ice-lang/ice-front.git
[submodule "ice-vm"]
	path = ice-vm
	url = https://github.com/ice-lang/ice-vm.git
[submodule "ice-grammar"]
	path = ice-grammar
	url = https://github.com/ice-lang/ice-grammar.git
[submodule "ice-codegen"]
	path = ice-codegen
	url = https://github.com/ice-lang/ice-codegen.git
